# PlatformIO / build artifacts
.pio/
*.elf
*.bin
*.map
*.log

# VS Code caches
.vscode/.browse.VC.db*
.vscode/ipch/

# OS junk
.DS_Store
Thumbs.db

# Nextion compiled outputs (keep .hmi only)
*.tft


